body {
  margin: 0;
  font-family: "Urbanist";

  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
#target {
  background-color: #f05b56;
}

button,
textarea,
input {
  font-family: "Urbanist";
}

h1,
h2 {
  margin-top: 34px;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 4px;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4 {
  color: hsl(357, 50%, 22%);
  margin-top: 1.8rem;
  margin-bottom: 0em;
}

h1 {
  font-size: 34px;
}

@media only screen and (max-width: 680px) {
  h1,
  h2 {
    letter-spacing: -0.2px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

p {
  font-size: 18px;
  line-height: 1.6em;
  color: hsl(357, 12%, 42%);
}

@media only screen and (max-width: 680px) {
  p,
  li {
    font-size: 16px;
  }
}

ul {
  font-size: 18px;
  list-style: none;
  -webkit-padding-start: 24px;
}

ol {
  font-size: 16px;
  -webkit-padding-start: 24px;
}

li {
  line-height: 1.6rem;
  color: hsl(357, 12%, 42%);
  margin: 12px 0px;
}
a {
  text-decoration: none !important;
  color: hsl(357, 74%, 67%);
  font-weight: bold;
}

.paragraph_header:after {
  content: "";
  display: block;
  width: 24px;
  padding-top: 8px;
  border-bottom: 4px solid #f05b56;
  opacity: 0.6;
}

.container {
  max-width: 620px;
  margin: auto;
  padding: 0 12px;
}

.container {
  margin-top: 30px;
}

.title {
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
}
#bgpart {
  background-color: #db524d;
  width: auto;
  height: auto;
}
#logo {
  width: 130px;
  margin-left: 30%;
  height: 30px;
}
#button1 {
  background-color: #e1716d;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 180px;
}
#button2 {
  background-color: #e1716d;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
#button3 {
  background-color: #e1716d;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
hr {
  width: 40%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c54a45;
  border: none;
  margin-top: 20px;
  margin-bottom: 100px;
}
#content-box {
  box-sizing: content-box;
  background-color: #df645f;
  border-radius: 10px;
  width: 600px;
  height: 350px;
  margin-left: 350px;
}
#button4 {
  background-color: #be5551;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 20px;
}
#button5 {
  background-color: #df645f;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 40px;
  margin-right: 20px;
}
#button6 {
  background-color: #df645f;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 30px;
  margin-right: 10px;
}
#button7 {
  background-color: #e1716d;
  border: none;
  padding: 10px 60px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 200px;
  margin-right: 10px;
  margin-top: 10px;
}
#timer {
  font-family: "Urbanist";
  font-size: 200px;
  margin-top: 1px;
  margin-left: 80px;
  color: white;
}
